<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @image.url %>
</p>

<p>
  <strong>alt_text:</strong>
  <%= @image.alt_text %>
</p>

<p>
  <strong>Post:</strong>
  <%= @image.post %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
